<div ng-controller="BudgetListCtrl">

	<p><input data-ng-model="query" /></p>
	
	<p>
	Sort by:
		<select data-ng-model="orderProp">
		  <option value="label">Libellé croissant</option>
		  <option value="-label">Libellé décroissant</option>
		</select>
	</p>
	
	<p>Total number of budgets : {{ budgets.length }} (TODO update filter query)</p>
	
	<ul>
		<li data-ng-repeat="budget in budgets | filter:query | orderBy:orderProp">
           	<a href="#/budget/{{ budget.id }}">{{ budget.label }}</a>
			<a href="#/budget/update/{{ budget.id }}">Modifier</a>
			<a ng-click="delete( budget )">Supprimer</a>
		</li>
	</ul>

</div>