<div>
	<p>{{ period.id }}</p>
	<p>{{ period.label }}</p>
	<p>Du {{ period.dateDebut }} au {{ period.dateFin }}</p>
	<p>Fini : {{ period.fini | checkFini }}</p>
	<p>
		Images :
		<ul class="phone-thumbs">
		  <li ng-repeat="img in period.img">
		    <span ng-click="setImage(img)" >X</span>
		  </li>
		</ul>
	</p>
</div>

<div>
	<img ng-src="{{mainImageUrl}}" class="phone">
</div>

<div>
	{{ "lower cap string" | uppercase }}<br/>
	{{ {foo: "bar", baz: 23} | json }}<br/>
	{{ 1304375948024 | date }}<br/>
	{{ 1304375948024 | date:"MM/dd/yyyy @ h:mma" }}
</div>

<div>
	<input ng-model="userInput"> Uppercased: {{ userInput | uppercase }}
</div>