<div>
	<p>{{ period.id }}</p>
	<p>{{ period.label }}</p>
	<p>Du {{ period.startDate }} au {{ period.endDate }}</p>
</div>

<div data-hbo-tabs id="tabs">
    <ul>
        <li><a href="#tabs-1">LECTURE</a></li>
        <li><a href="#tabs-2">GESTION</a></li>
    </ul>
    <div id="tabs-1">
        <ng-include src="'/budget/resources/partials/period/period-read.html'"></ng-include>
    </div>
    <div id="tabs-2">
        <ng-include src="'/budget/resources/partials/period/period-write.html'"></ng-include>
    </div>
</div>
