<div ng-controller="PeriodListCtrl">

	<div class="form-horizontal">
	
		<div class="form-group">
		    <label class="col-sm-1 control-label" for="label">Filtre</label>
		    <div class="col-sm-3">
			    <input type="text" class="form-control" id="label" data-ng-model="query.label" placeholder="Libellé"/>
		    </div>
	  	</div>
	  	
		<div class="form-group">
		    <label class="col-sm-1 control-label" for="sort">Tri</label>
		    <div class="col-sm-3">
				<select data-ng-model="orderProp" id="sort" class="form-control">
				  <option value="label">Libellé croissant</option>
				  <option value="-label">Libellé décroissant</option>
				  <option value="startDate">Date croissant</option>
				  <option value="-startDate">Date décroissant</option>
				</select>
			</div>
	  	</div>
	  	
	</div>

	<p class="lead">Nombre de périodes : {{ ( periods|filter:query ).length }}/{{ periods.length }}</p>

	<table class="table table-bordered table-condensed table-striped table-hover">
	
		<thead>
			<tr>
				<th>Libellé</th>	
				<th>Date de début</th>	
				<th>Date de fin</th>	
				<th></th>	
				<th></th>	
			</tr>
		</thead>
		
		<tbody>
			<tr data-ng-repeat="period in periods | filter:query | orderBy:orderProp">
				<td><a href="#/period/{{ period.id }}">{{ period.label }}</a></td>
				<td>{{ period.startDate | formatDate }}</td>
				<td>{{ period.endDate | formatDate }}</td>
				<td><a href="#/period/update/{{ period.id }}">Modifier</a></td>
				<td><a ng-click="deletePeriod( period )">Supprimer</a></td>
			</tr>
		</tbody>
	
	</table>

</div>