<div ng-controller="PeriodListCtrl">
	
	<p><input data-ng-model="query" />// TODO label</p>
	
	<p>
	Sort by:
		<select data-ng-model="orderProp">
		  <option value="label">Libellé croissant</option>
		  <option value="-label">Libellé décroissant</option>
		  <option value="startDate">Date croissant</option>
		  <option value="-startDate">Date décroissant</option>
		</select>
		{{ orderProp }}
	</p>

	<p>Total number of periods : {{ periods.length }} (TODO update filter query)</p>

	<ul>
		<li data-ng-repeat="period in periods | filter:query | orderBy:orderProp">
           	<a href="#/period/{{ period.id }}">{{ period.label }}</a>
			{{ period.dateDebut }}
			<a href="#/period/update/{{ period.id }}">Modifier</a>
			<a ng-click="delete( period )">Supprimer</a>
		</li>
	</ul>

	<p>{{ periods | json }}</p>

</div>